body {
  background-color: lightblue;
  padding: 20px;
  font-family: Georgia, Serif;
}

h1 {
  color: darkblue;
  text-align: center;
  border: 20px solid darkblue;
  padding: 10px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #333333;
  line-height: 1.6;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.favorite {
  color: green;
  font-weight: bold;
}
