body {
  background-color: #FFD1DC;
  padding: 20px;
}

h1 {
  color: #D2042D;
  text-align: left;
  margin-bottom: 10px;
}

h2 {
  color: #D2042D;
  text-align: left;
  margin-bottom: 10px;
  
p {
  font-size: 18px;
  color:   #B03060;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
  psdding: 0;
}
  
